@import 'vars'

a
  color $cFontDark
  border-bottom 3px solid transparent
  transition .2s
  &:hover
    border-bottom 3px solid $cActive

html
  font-family: $font
  font-size: $fzText
  color: $cFontDark
  height: 100%
  @media screen and (max-width: $wL)
    font-size: 16px
  @media screen and (max-width: $wM)
    font-size: 15px
  @media screen and (max-width: $wS)
    font-size: 14px

body
  overflow-x: hidden

// section
// position: relative
// padding: 40px 0
// @media screen and (max-width: $wL)
// padding: 36px 0
// @media screen and (max-width: $wM)
// padding: 28px 0
// @media screen and (max-width: $wS)
// padding: 20px 0

.container
  width: 100%
  display: flex
  flex: 0 0 auto
  flex-wrap: wrap
  position: relative
  margin: 0 auto
  max-width: $wcXL
  @media screen and (max-width: $wXL)
    max-width: $wcL
  @media screen and (max-width: $wL)
    max-width: $wcM
  @media screen and (max-width: $wM)
    max-width: $wcS
  @media screen and (max-width: $wS)
    max-width: $wcXS

// .wrapper
// display: flex
// flex-direction: column
// margin: 0 auto
// min-height: 100vh
// min-width: 100vw

// .content-wrapper
// display: flex
// flex-direction: column
// min-height: 100vh

.title
  font-size: 36px
  font-weight: bold

.text
  font-size: 16px
  line-height: 1.5

.flex
  display flex
  &-horizontal
    justify-content space-between
  &-10
    flex-basis 10%
  &-20
    flex-basis 20%
  &-25
    flex-basis 25%
  &-30
    flex-basis 30%
  &-40
    flex-basis 40%
  &-50
    flex-basis 50%
  &-60
    flex-basis 60%
  &-70
    flex-basis 70%
  &-75
    flex-basis 75%
  &-80
    flex-basis 80%
  &-90
    flex-basis 90%
  &-100
    flex-basis 100%