@import './vars'

.p-dialog
  max-width: 90%
  &-maximized
    max-width: none

.cell
  .p-colorpicker-preview
    width 100%

.level
  &-value
    &__input
      max-width 100%
      .p-inputnumber-input
        max-width 100%
        text-align center
      &_wrong .p-inputnumber-input
        border 1px solid $danger-color
        box-shadow 0 0 0 0.2rem rgba($danger-color, 0.5)