/* Vars=
   ========================================================================== */

// Font
$font                     = 'Ubuntu', Arial, sans-serif
$fzTitle                  = 48px
$fzSubtitle               = 24px
$fzText                   = 18px
$fzSmall                  = 14px

// Width
$wXL                      = 1200px
$wL                       = 992px
$wM                       = 768px
$wS                       = 576px

$wcXL                     = 1146px     // 68 * 12 + 30 * 11 (12 columns)
$wcL                      = 966px      // 53 * 12 + 30 * 11 (12 columns)
$wcM                      = 726px      // 33 * 12 + 30 * 11 (12 columns)
$wcS                      = 546px      // 18 * 12 + 30 * 11 (12 columns)
$wcXS                     = 300px      // 25 * 6  + 30 * 5  (6  columns)

// Colors
$cFontDark                = #000000
$cFontLight               = #EEEEEE
$cActive                  = #4DBA87
$cBgDark                  = #435466
$cBgLight                 = #FFFFFF
$cBgMiddle                = #597088




// Colors
$default-color            = #ffffff
$primary-color            = #2196F3
$success-color            = #26de81
$danger-color             = #d32f2f
$warning-color            = #fed330
$light-color              = #999999
$purple-color             = #8854d0

// Neutral Color
$neutral-primary          = #303133
$neutral-regular          = #606266
$neutral-secondary        = #909399
$neutral-placeholder      = #C0C4CC

// Border Color
$border-base              = #DCDFE6
$border-light             = #E4E7ED
$border-lighter           = #EBEEF5
$border-lightex           = #F2F6FC